{% extends "mainApp/base.html" %}
{% load widget_tweaks %}
{% block main %}
    <div class="w-full flex flex-col items-center mt-10 bg-neutral-800 min-h-full text-white">
        <div class="flex flex-col w-1/4 border rounded-lg p-5">
            <h1 class="text-3xl font-extrabold text-center">Signup</h1>
            <form hx-post="">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div>
                            {% render_field field class+="border rounded w-full outline-none px-1 bg-neutral-800 focus:border-blue-400" autocomplete="off" autofocus="true" %}
                        </div>
                        {% for error in field.errors %}<p class="text-red-500/75 text-sm">{{ error }}</p>{% endfor %}
                    </div>
                {% endfor %}
                <div class="flex justify-center gap-3 mt-3">
                    <button class="cursor-pointer rounded-full px-2 py-1 bg-neutral-300 text-black hover:bg-black hover:text-white">
                        Submit
                    </button>
                    <button type="button"
                            class="cursor-pointer rounded-full px-2 py-1 bg-neutral-300 text-black hover:bg-black hover:text-white"
                            onclick="history.back()">Cancel</button>
                </div>
                {% for error in field.errors %}<p class="text-red-500/75 text-sm">{{ error }}</p>{% endfor %}
                <p class="text-center w-full cursor-pointer text-blue-400 p-1"
                   hx-get="{% url 'login' %}">Already have an account?</p>
            </form>
        </div>
    </div>
{% endblock main %}
