{% extends "mainApp/base.html" %}
{% load widget_tweaks %}
{% block main %}
    <div class="w-full flex flex-col items-center mt-10 bg-neutral-800 min-h-full text-white">
        <div class="w-1/4 border rounded-lg p-5">
            <h1 class="text-3xl font-extrabold text-center">Login</h1>
            <form hx-post="">
                {% csrf_token %}
                <div>
                    <label for="{{ form.otp.id_for_label }}">{{ form.otp.label_tag }}</label>
                    <div>
                        {% render_field form.otp class+="border rounded w-full outline-none bg-neutral-800 px-1 focus:border-blue-400" autocomplete="off" autofocus="true" %}
                    </div>
                    <p class="text-center text-red-500/75 w-full">{{ field.errors }}</p>
                </div>
                <input type="hidden" name="next" id="next" value="{{ next }}">
                <div class="flex justify-center gap-3 mt-3">
                    <button class="cursor-pointer rounded-full px-2 py-1 bg-neutral-300 text-black hover:bg-black hover:text-white">
                        Submit
                    </button>
                    <button type="button"
                            class="cursor-pointer rounded-full px-2 py-1 bg-neutral-300 text-black hover:bg-black hover:text-white"
                            onclick="history.back()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}
